# Django specific ignores
/staticfiles/
/media/
/myenv
.vscode/settings.json
db.sqlite3
__pycache__/
*.py[cod]
*.log

# Environments & tooling
.env
.env.*
.pytest_cache/
*.sqlite3
postgres_data/
.idea/.gitignore
.idea/Django Test.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
